<fieldset>
    <legend>
        <h2>Starta uthyrning</h2>
    </legend>
    <div *ngIf="!rentalStartComplete">
        <h3>Vilken typ av fordon ska hyras ut?</h3>
        <form [formGroup]="form" (ngSubmit)="getVehicles()">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="Småbil" name="vehicleType" id="Småbil"
                    formControlName="vehicleType">
                <label class="form-check-label" for="Småbil">Småbil</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="Kombi" name="vehicleType" id="Kombi"
                    formControlName="vehicleType">
                <label class="form-check-label" for="Kombi">Kombi</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="vehicleType" id="Lastbil" value="Lastbil"
                    formControlName="vehicleType">
                <label class="form-check-label" for="Lastbil">Lastbil</label>
            </div>

            <button class="btn btn-primary" type="submit">Hämta fordon</button>
        </form>
    </div>

    <div *ngIf="vehicles && !rentalStartComplete" class="mt-4">

        <h3>Välj fordon att hyra ut</h3>
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text">Registreringsnummer:</span>
                <select class="form-select" [(ngModel)]="selectedVehicle" name="selectVehicle" #selectVehicle="ngModel"
                    placeholder="d.ff">
                    <option value="null" disabled selected hidden>Välj registreringsnummer</option>
                    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle" [disabled]="!vehicle.available">
                        {{vehicle.licensePlateNumber}}</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <h3 class="col-12">Uppgifter om fordonet</h3>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span for="mileage" class="input-group-text">Mätarställning vid start:</span>
                    <input type="number" name="mileage" id="mileage" [(ngModel)]="newRental.startMileage"
                        class="form-control">
                    <span class="input-group-text">m</span>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Uthyrningsstart:</span>
                    <input type="datetime-local" name="rentalStart" id="rentalStart" class="form-control"
                        [(ngModel)]="newRental.rentalStartTime">
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="col-12">Uppgifter om kunden</h3>
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-text">Personnummer:</span>
                    <input type="text" class="form-control" [(ngModel)]="newRental.customerNumber">
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary" (click)="startRental()">Starta uthyrning</button>
        </div>
    </div>
    <div *ngIf="rentalStartComplete">
        <h3>Uthyrningen av {{newRental.vehicleLicensePlateNumber}} har startat</h3>
        <h4>Kundens bookningsnummer är {{bookingnumber}}</h4>
    </div>
</fieldset>